* {
  box-sizing: border-box;
}

:host {
  display: block;
}
.link {
  padding: 19px 160px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 2em;
  transition: transform 250ms, background-color 400ms;
  filter: invert(100%);
  font-weight: bold;
}
.links {
  display: grid;
  justify-content: center;
  gap: 10px;
}
.link:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}

